*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
header {
    background: rgb(32, 30, 63);
    overflow: hidden;
    color: #fff;
}
.columna {
    float: left;
    width: 50%;
    text-align: center;
    padding: 1%;
    
}
.columna .item {
    margin-right: 2%;
    display: inline-block;
    margin-top: 0.7%;
}
.columna-4 {
    /*margin-left: 10%;*/
    padding-left: 20%;
}
.item a {
    text-decoration: none;
    float: left;
    color: #fff;
    
}
.fondo {
    width: 100%;
    background: url('../assets/img/header.jpg')
                center center;
    background-size: cover;
    color: #fff;
    height: 500px;
    padding: 10% 0 0 0;
    font-size: 50px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
.container{
    padding: 2% 0 0 16%;
}
.row {
    width: 80%;
    font-family: 'Quicksand', sans-serif;
}
.row-2 {
    overflow: hidden;
}
.col {
    width: 50%;
    float: left;
    padding: 1%;
    height: 300px;
    

}
.col img {
    display: inline-block;
    width: 70%;
    height: 100%;
    border-radius: 160px;
    margin-top: 3%;
}
.row-2 .imagen {
    margin-left: 10%;
} 
.texto {
    padding-top: 7%;
    padding-left: 6%;
}
footer {
    padding: 2%;
    text-align: center;
    margin-top: 1%;
    background:rgb(32, 30, 63);
    color: #fff;
}
.texto h2 {
    font-size: 38px;
}
 @media (max-width: 600px) {
    .col {
        width: 100%;
    }
        
} 
@media (max-width: 768px) {
    .col img {
        margin-top: 20%;
    }
        
} 